@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Rubik);

.presentation {
    color: #666666;
    font-family: 'Rubik', sans-serif !important;
}
.picture_proyect {
    width: 100% !important;
}

.Detailproyect i {
    font-size: 60px;
    padding: 10px !important;
}

.presentation h3 {
    font-size: 30px;
    font-weight: bold;
    color: #222121bf;
}
@media only screen and (min-width: 550px) {
    .contents-right {
        float: right;
        width: 48%;
    }
    .images-right {
        float: right;
        width: 48%;
        background: #fff;
        padding: 10px;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
        margin-left: 20px;
        border-radius: 10px;
    }
}

@media only screen and (min-width:550px) {
    .contents {
        margin-left: 0;
        width: 48%
    }

    .contents,
    .contents-right {
        margin-top: -5%
    }

    .contents-right,
    .images-right {
        float: right;
        width: 48%;
        
        
    }

    .images-right img {
        float: right;
    }

    .images-left {
        float: left;
        width: 48%;
    }

    .images-left img {
        float: left;
    }
}
@media only screen and (min-width: 360px) {
    .images-left {

       
        background: #fff;
        padding: 10px;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
        border-radius: 10px;

    }
    .images-right {

        background: #fff;
        padding: 10px;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
        border-radius: 10px;

    }
}

@media only screen and (min-width: 550px) {
    .images-left {
        float: left;
        width: 48%;
        background: #fff;
        padding: 10px;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
        margin-right: 20px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 550px) {
    .images-left img {
        float: left;
    }
    .paddding{
        padding: 0px 80px 0px 80px;
    }
}
