.about span {
    color: #23b8ff;
}

.portfolio-section{
        padding-top: 8rem;

} 

.portfolio-section p{
    color: rgb(2, 29, 68); 
}

.underline-title{
    max-width:3.25rem;
    border-width: 0.2rem;
    background-color: rgb(2, 29, 68);
    margin-bottom: 3rem;
}

@media (max-width: 765px) {


    .portfolio-section{
        padding-top: 1rem;

    } 
    .pt-lg-20 {
        padding-top: 5px;
    }
    .informationme i {
        font-size: 50px;
        padding: 80px !important;
    }

    .picture {
        width: 80% !important;
        margin: 50px 10% 25px !important;
        border: 0.8rem solid rgb(23 23 23 / 5%);        
        border-radius: 50%;
        margin-bottom: 2rem;
    }
    .container_image {
        margin: 0px !important;
    }
    .pircure_anime1 {
        width: 100% !important;
        height: 400px !important;
    }
    footer {
        position: relative !important;
    }

    .about h3 {
        text-align: center;
    }

}

@media screen and (min-width: 320px) and (max-width:480px) {
    .informationme i {
        padding: 20px !important;
    }
}

@keyframes animateWave {
    0% {
        transform: scale(1, 0);
    }
}

.wave-container>svg {
    transform-origin: bottom;
    animation: animateWave 2000ms cubic-bezier(0.56, 1, 0.48, 1) forwards;
}
a:hover {
    color: rgb(52 50 50 / 69%)!important;
    text-decoration: none !important;
}
.picture {

    width: 90%;
    margin: 25px 10% 25px;
    border: 0.8rem solid rgb(23 23 23 / 5%);
    border-radius: 50%;
    margin-bottom: 2rem;
    box-shadow: 0px 1px 7px 0px rgb(147 147 147);
}

.informationme {
    font-size: 20px;
    color: #222121bf;
}

.informationme p {
    font-size: 15px;
    color: #222121bf;
}

.informationme i {
    font-size: 35px;
    padding: 5px;
    display: inline-block;
}

.informationme .list-data {
    padding-left: 10px
}

.title_info {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.title_info_one {
    font-weight: bold;
    font-size: 25px !important;
    text-align: center;
    color: #222121bf;
}


.about {
    text-align: justify;
}

.about h3 {
    font-size: 30px;
    font-weight: bold;
    color: #222121bf;
}

.about p {
    font-size: 20px;
}

.about ul {
    padding-left: 2px !important;
}

.about ul li {
    list-style: none;
    padding-bottom: 5px;
}
.contains-aboutme{
    max-width: 1650px !important;
}