
.portfolio-section{
    padding-top: 8rem;
    padding-bottom: 6rem;
    color: rgb(2, 29, 68); 
}

.portfolio-section p{
    color: rgb(2, 29, 68); 
}

.underline-title{
    max-width:3.25rem;
    border-width: 0.2rem;
    background-color: rgb(2, 29, 68);
    margin-bottom: 3rem;
}


@media (max-width: 765px) {
    .presentation h1 {
        font-size: 35px;
    }
    .presentation p {
        font-size: 20px;
    }
    .pt-lg-20 {
        padding-top: 5px;
    }
    .informationme i {
        font-size: 50px;
        padding: 80px !important;
    }
    .backgroundimg {
        width: 100% !important;
    }
    .container_image {
        margin: 100px 100px 0px 100px !important;
    }
    .pircure_anime1 {
        width: 100% !important;
        height: 400px !important;
    }
    footer {
        position: relative !important;
    }
    .presentation h3 {
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width:480px) {
    .informationme i {
        padding: 40px !important;
    }
}

@keyframes animateWave {
    0% {
        transform: scale(1, 0);
    }
}

.wave-container>svg {
    transform-origin: bottom;
    animation: animateWave 2000ms cubic-bezier(0.56, 1, 0.48, 1) forwards;
}

.picture {
    border-radius: 100%;
    width: 80%;
    margin: 25px 10% 25px;
}

.backgroundimg {
    background: rgb(23 23 23 / 5%);
    border-radius: 200%;
  
}
